// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif:'IBM Plex Sans', sans-serif;
$font-size-base:18;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #EA4885;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$greenlight:#A9CB75;
$gary:#ccc;

